@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
html{
    margin-left: 160px;
}

header{
    display: grid;
    grid-template-columns: 50px auto auto;
    width: 900px;
    border-bottom: rgb(192 192 192 / 54%);
    border-style: solid;
    width: 1077px;
    border-block-width:0 10px;
}


}

nav{
    margin-left:355px;
}
 h1{
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 4px;
  
    
}
 h6{
    size: 9px;
    color: silver;
    font-size: small;
}
main div{
    display: grid;
    grid-template-columns: auto auto ;
    width: 1080px;
    margin-top: 30px;
   

}
main div a{
    color: silver;
    text-decoration: none;
    /* margin-left:400px; */
    margin-left: 797px;
    
}
body{
    margin-left: 40px;
    height: 1500px;
    width: 900px;
 

}
 .images{
    margin-top: 30px;
    margin-bottom: 26px;
    width: 1077px;
    border-block-width:0 10px;
    border-bottom: rgb(192 192 192 / 54%);
    border-style: solid;
    border-block-width:0 0px;
    /* padding: 28px; */

} 
#venDiv{
    /* border-top: silver; */
    /* border-top: rgb(192 192 192 / 54%); */
    /* border-style: solid; */
    padding-top: 30px;
    display: grid;
    grid-template-columns: 80px auto auto;
    /* border-block-width:0 10px; */
  
    


}
p{
    text-indent: 3em;

}

h3{
    font-weight: bold;
   margin-bottom:10px;
   font-family: cursive   ;
   color: #534d4c;
   
}
#btn{
    background-color: #e04412f2;
    border: none;
    color: white;
    width: 186px;
    height: 57px;
}
footer div{
    align-items: center;
    align-content: center;
     margin-top: 50px; 
    width:900px;
    margin-left: 450px;
    
   
    
}
main{
    width: 100%;
}
footer div img{
    margin-left: 100px;  
  
    
   
}
#lastH6{
    margin-left: 25px;
}
 #lastDiv{
  
    width:1090px;
  margin-left: 0px;
    border-top:  silver;
    border-style:solid;
    z-index: 2; 
    /* position: absolute;} */
 }

    h4 {
        color: gray;
        font-size: 21px;
    }
  
#imgrss {
    padding-left: 4px;
}


#imgsmall{
padding-bottom: 25px;}


 
  .form1 {
    width: 1333px
    float: left;
    margin-left: 101px;
    margin-top: -382px;

}
.form2{
    width: 602px;
    margin-top: -384px;
    float: left;
    margin-left: -691px;
}
.form1, .form2{
    font-size: large;
    color: #504c4cdb;
    font-family: 'Patrick Hand', cursive;
}


ul li {
    list-style-type: none;
    padding: 4px;
    font-size: 22px;
}
nav{
    margin-right: -1000px;
    width: 900px;
    float: right;
    padding: 3px;
    padding-left: 225px;
}

/* 
input[type = checkbox]:checked {
    /* background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7; */

    
 /* .cbox4:checked + label { */
 
    

    .checkbox {
        display: inline-flex;
        cursor: pointer;
        position: relative;
    }
    
    .checkbox > span {
        color: #696462;
        padding: 0.5rem 0.25rem;
    }
    
    .checkbox > input {
        height: 20px;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        /* border: 1px solid #34495E; */
        border-radius: 7px;
        outline: none;
        transition-duration: 0.3s;
        border: 3px solid #6669666e;
    background-color: #34495e00;
        cursor: pointer;
      }
    
    .checkbox > input:checked {
        border: 3px solid #6669666e;
    background-color: #34495e00;
    }
    
    .checkbox > input:checked + span::before {
        content: '\2713';
        display: block;
        text-align: center;
        color: #89938ed9;
        position: absolute;
        left: 0.55rem;
        top: 0.2rem;
        font-style: italic;
        font-size: 17px;
        font-weight: bolder;
}
    
    
    .checkbox > input:active {
        border: 2px solid #34495E;
    }